
/* GENERAL */

body
{
	font-family: raleway,sans-serif;
	font-size: 15px;
}

.wrapper{
    width: auto;
    margin: 20px;
}

html,body{
    width:100%;
    overflow-x:hidden;
    margin-top: 0px;
}

*{
    text-decoration: none;
}

/* HEADER */

img{
    border-radius: 20px 20px 0px 0px;
    width: 320px;
    height: 405px;
    object-fit: none;
}

img.reservia {
    width: 130px;
    height: 100px;
    margin-left: 20px;
    margin-top: -30px;
}

nav{
	float: right;
    transition: .25s ease-in-out;
    margin: 20px;
    margin-top: -41px;
}
header nav ul li{
    padding: 20px;
	display: inline-block;
    font-weight: bold;
    padding-top: 50px;
}  
header nav ul li a{

    color: #0065FC;
    font-weight: bold;
    margin-right: 0px;
    text-decoration: none;
}

::placeholder {
    padding: 0px 0px 0px 10px;
    color: black;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: black;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: black;
  }

a activities{
    color: #000;
}

.filters-buton p:hover{
    background-color: #0065FC;
    color: #fff;
}

.accomodations{
    border-top: 2px solid #0065FC;
    color: #0065FC;
    padding-top: 22px;
}

.activities-menu{
    color: black;
}

p.subtitle {
    margin-left: 40px;
    margin-bottom: 5px;
}

/* NAVBAR */

.narbar .navbar-link .underline-effect{
    width: 100%;
    height: 3px;
    background: white;
}

accomodations activites a:hover{
    border-top: 3px solid #0065FC;
    text-decoration: none;
}

/* SEARCH BAR */

.location-logo{
    position: relative;
    height: 40px;
    background-color: #F2F2F2;
    width: 60px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.fa-map-marker-alt{
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#fa-lg{
    font-size: medium;
}

#search-section{
    display: flex;
    height: 40px;
    margin-top: 15px;

}
.search-bar{
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
    border: none;
}

.search-type{
    font-weight: bold;
    outline: none;
    border-color: #F2F2F2;
    border-width: thin;
}

.search{
    background-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
    border: none;
    color: #fff;
    outline: none;
    font-weight: bold;
}

#search-type{
    color: #000;
}

.Marseille, France{

    color: #000;
}

.fa-search{
    display: none;
}

#fas fa-search{
    display: none;
    width: 50px;
}

.fa-search{
    display: none !important;
}

p{
    font-weight: normal;
    text-decoration: none;
}

  .fa-info:before{
    font-size: x-small;
    color: #0065FC;
}

  .location-{
      color: #000;
}

h2{
    font-size: 20px;
    margin: 20px;
    color: #000;
    text-decoration: none;
}

/* FILTERS */

#filters-section{
    display: flex;
    align-items: center;
    margin: 20px 10px 0px 20px;
}
.filters-buton{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 25px;
    flex-wrap: wrap;
}
.circle-icon-filter{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    background-color: #DEEBFF;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: -3px;
    margin-left: 20px;
}
.filters{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -35px;
}
.filters p{
    height: 40px;
    display: flex;
    align-items: center;
    border: 2px solid #d9d9d9;
    padding: 0px 25px 0px 45px;
    border-radius: 25px;
    font-weight: bold;
}
.filters-titles p{
    font-weight: bold;
}
.fa-money-bill-wave,
.fa-male,
.fa-heart,
.fa-dog {
    color: #0065FC;
    font-size: 1.2em;
}
h1{
    font-size: 20px;
    margin: 40px;
    margin-bottom: 1px;
    margin-top: -10px;
}
#text{   
    padding: 20px;
    border-top: 20px;
}
p{
    margin: 20px;
    margin-top: 5px;
    display: inline-block;
}

div.accomodations-numbers{
    display: flex;
    align-items: center;
    margin-left: 35px;
}

.icon-info-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    border : 0.1em solid #d9d9d9;
    width  : 20px;
    height : 20px;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    margin-right: 12px;
}

/* ACCOMODATIONS */

.accomodations-header{
    margin: 0px;
    margin-bottom: 20px;
    font-size: large;
    text-decoration: none;
}

#accomodations{
    background-color: #FFFFFF80;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    flex-basis: 4%;
    text-decoration: none;
}

.marseille-accomodations{
    background-color: #F2F2F2;
    flex-basis: 60%;
    margin: 20px 0px 20px 32px;
    border-radius: 20px;
    padding: 4px 1px 20px 9px;
    max-width: 805px;
    text-decoration: none;
}

.box_card{
    border-radius: 20px;
    background-color: #fff;
    max-width: 236px;
    float: left;
    display: flex;
    flex-wrap: wrap;
    min-height: 110px;
    margin: 1px 10px 29px 10px;
    padding: 2px;
    text-decoration: none;
}

.accomodations-pictures{
    object-fit: cover;
    width: 236px;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 2px;
}

.accomodations_content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1px 1px 1px 1px;
    text-decoration: none;

}
.title-content{
    padding-top: 1px;
    margin-left: 10px;
    margin-top: -16px;
    color: #000;
    text-decoration: none;
}

.price-content{
    padding-bottom: 1px;
    margin-top: -16px;
    margin-left: -10px;
    color: #000;
}

.accomodations-notation{
    padding-bottom: 1px;
    margin-left: 10px;
    margin-top: -16px;
}

.accomodations-content h3,
.popular-accomodation-content h3{
    font-weight: bold;
    font-style: normal;
}

.accomodation-show-more{
    font-weight: bold;
}

.fas.fa-star{
    font-size: small;
    color: #0065FC;
}

.fas.fa-star.grey-star{
    color: grey;
} 

h5{
    margin: 20px;
    font-weight: bold;
    text-decoration:none;
    color: #000;
    font-size: 15px;
}

/* POPULAR */

.chart-line-black{
    float: right;
}

#popular{
    background-color: #f2f2f2;
    display: flex;
    flex-direction:column;
    border-radius: 20px;
    padding: 4px 25px 20px 25px;
    margin: 21px;
    text-decoration: none;
}

.popular-accomodations{
    background-color: #FFFFFF80;
    display: flex;
    flex-basis: 34%;
    text-decoration: none;
    border-radius: 20px;
}

.fa-chart-line {
    color: black;
}

.box_card2{
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    background-color: white;
    max-width: 384px;
    max-height: 135px;
    margin: 10px;
    padding: 1px 10px 1px 1px;
}

.accomodations-pictures2{
    object-fit: cover;
    height: 130px;
    border-radius: 20px 0 0 20px;
    margin: 3px 1px 3px 3px;
    width: 130px;
}

.popular-pictures{
    width: 132px;
    height: 132px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 1px 20px 20px 1px;
}

.popular-content{
    padding: 7px 0px 7px 0px;
    display: flex;
    flex-direction: column;
}

.popular-title-content{
    padding-bottom: 15px;

}

.popular-price-content{
    padding-bottom: 30px;

}

.popular-notation{
    max-width: 4px;
    max-height: 5px;
}

#popular-title{
    font-size: medium;
    text-decoration: none;
}

/* MARSEILLE ACTIVITIES */

#marseille_activities{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 60px;
    max-width: 1350px;
    text-decoration: none;
}

.activities_title{
    margin-bottom: 27px;
    font-size: large;
    text-decoration: none;
}

.activities{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.activite2et3,
.activite5et6{
    display: flex;
    flex-direction: column;
}

.activite1,
.activite2,
.activite3,
.activite4,
.activite5,
.activite6{
    box-shadow: 0 0 20px #0000002e;
    border-radius: 20px;
    margin: 0px 0px 20px 0px;
}

.photo_activite1,
.photo_activite2,
.photo_activite3,
.photo_activite4,
.photo_activite5,
.photo_activite6{
    background-size: 100% 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px 0px 22px 0px;
}

.photo_activite11
.photo_activite44,
.photo_activite55,
.photo_activite66{
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

img.photo_activite22{
    width: 300px;
    height: 180px;
}

img.photo_activite33{
    object-fit: cover;
    width: 300px;
    height: 140px;
}

img.photo_activite55{
    object-fit: cover;
    width: 300px;
    height: 140px;
}

img.photo_activite66{
    object-fit: cover;
    width: 300px;
    height: 168px;
}

.photo_activite55,
.photo_activite66{
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

img.photo_activite55, 
    .photo_activite66{
    object-fit: cover;
    width: 300px;
    height: 150px;
    }

#Marseille_activities h1{
    font-size: large;
    margin: 40px 10px 10px 30px;
}

#Marseille_activities h2{
    font-size: medium;
}

/* FOOTER */

.footer{
    max-width: 1350px;
    padding: 20px 240px 30px 30px;
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
}

.about_title{
    padding-bottom: 2px;
    margin-left: 0px;
}

.about{
    display: flex;
    flex-direction: column;
}

.accomodations_title{
    margin-bottom: 15px;
    margin-left: auto;
}
.assistance_title{
    padding-bottom: 2px;
    margin-left: 0%;
}

.assistance{
    display: flex;
    flex-direction: column;
}

footer h4{
    font-weight: normal;
    margin: 1px 1px 1px 1px;
    color: black;
    border-top: none;
}

footer h2{
    font-size: large;
}

/* TABLET */

@media all and (max-width : 991.98px) and (min-width : 767.98px){

    *{
        text-decoration: none;
        font-size: small;
    }

    h1{
        margin: 20px 40px 10px 40px;
    }

    .filters{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }

    article p:hover{
        background-color: #0065FC;
    }

    .filters-section{
        margin: 20px 10px 0px 20px;
    }

    .filters-buton{
        margin: 0px -20px 0px -14px;
    }

    .fa-info{
        margin-left: 0px;
    }

    .marseille-accomodations{
        flex-basis: 70%;
        margin: 20px 20px 20px 114px;
        padding: 0px;
        width: 520px;
    }

    .accomodations{
        flex: none;
        border-top: 2px solid #0065FC;
        color: #0065FC;
        padding-top: 20px;
    }

    .accomodations-content{
        padding: 0%;
    }

    .accomodations_content{
        width: 250px;
    }

    .box_card{
        margin: 1px 10px 29px 10px;
    }

    h5{
        display: none;
    }

    i.fas.fa-chart-line-chart-line-black{
        margin: 8px;
    }

    h6{
        font-size: large;
        margin: 20px 67px 20px 70px;
    }

    #popular{
        margin: auto;
        margin-top: 40px;
        padding: 4px 2px 20px 2px;
        display: flex;
        flex-direction: column;
        width: 530px;
    }

    .popular-accomodations{
        background-color: #FFFFFF80;
        display: flex;
        flex-basis: 10%;
        margin: auto;
    }

    .box_card2{
        margin: 10px auto;
    }

    .activite6{
        padding-bottom: 6px;
    }

    .footer{
        padding-bottom: 760px;
    }

    .accomodations_footer{
        text-decoration: none;
    }

    .assistance{
        margin-right: -190px;
    }
}

/* PHONE */

@media all and (max-width : 767.98px){

    html,body{
        width:100%;
        overflow-x:hidden;
        margin-top: 0px;
    }

    img.reservia{
        object-fit: none;
        width: 96px;
        height: 100px;
        margin-top: -55px;
        margin-left: 20px;
    }

    header{
        margin: 0;
        width: 100%;
        padding-left: 5px;
        margin-bottom: 60px;
        margin-top: 40px;
      }
    
    .containerheader{
        display: grid;
        padding-top: 5px;
    }
    
    .headernav{
        margin-right: 0;
    }
    
    /* HEADER MENU */
    
    .register{
        position: absolute;
        top: 29px;
        right: 30px;
    }
    
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin-top: 2px;       
        margin-bottom: -80px;
    }
    
    nav ul{
        /* border-bottom: 2px solid #f2f2f2; */
        margin-top: -50px;
        margin: -42px -100px 20px -50px;
    }
    
    header ul li{
        margin-left: 0;
        padding: 10px 46px 5px 11px;
    }
    
    header ul li a:hover{
        border-bottom: 2px solid #0065fc;
        border-top: none;
        padding-bottom: 5px;
    }

    .headerNav{
        border-bottom: 2px solid #f2f2f2;
        padding-bottom: 10px;
        font-weight: bold;
    }
    
    .headerNavLink{
        margin-left: 0px;
        color: #0065FC;
    }

    .line {
        border-bottom: 2px solid #0065FC;
        padding-bottom: 11px;
        width: 250px;
        margin-left: -200px;
    }

    h1{
        margin-left: 20px;
    }

    p.subtitle{
        font-size: 94%;
        margin-left: 20px;
    }

    .fa-search{
        width: 40px;
    }

    .filters-titles{
        margin-bottom: 300px;
    }

    .filters-titles p{
        margin: 0px 46px 0px 0px;
    
    }

    .filters{
        margin: -60px -35px 0px -143px;
    }

    .filters p{
        margin-right: -15px;
    }

    .filters-buton{
        margin-left: 35px;
    }

    #filters-section {
        margin: 20px 10px -80px 20px;
    }

    article p:hover{
        background-color: #0065FC;
        color: #fff;
    }

    #search-section{
        margin-left: -22px;
        display: block;
    }

    .search-text{
        display: none;
    }

    #search-section i{
        display: block!important;
    }

    .location-logo{
        width: 60px;
    }

    #familial p{
        margin-left: 20px;
    }

    .popular-accomodations{
        margin-top: 20px;
    }

    .accomodations{
        border-bottom: 2px solid #0065fc;
        border-top: none;
        padding-bottom: 10px;
        display: none;
    }

    div.accomodations-numbers{
        margin-left: 10px;
        margin-top: -50px;
    }

    h6 {
        margin: 15px -10px 10px -10px;
        font-size: large;
    }

    .activities-menu{
        border-bottom: 2px solid #d9d9d9;
        border-top: none;
        padding-bottom: 10px;
        display: none;
    }

    .box_card{
        max-width: 536px;
        margin: 0px 0px 10px 0px;
    }

    .marseille-accomodations{
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        text-decoration: none;
        background-color: #fff;
        margin: 0;
        margin-left: -6px;
    }

    .accomodations-header{
        margin-bottom: 10px;
    }

    .accomodations-content{
        font-size: x-small;
    }

    .accomodations-pictures{
        width: 330px;
        margin-left: 9px;
        }

    .accomodations-pictures2{
        width: 174px;
        box-shadow: 0 0 20px #0000002e;
    }

    #popular{
        width: 306px;
        margin: -10px;
        border-radius: 0;
        padding: 10px 34px 20px 40px;
    }

    .box_card2{
        margin: 10px -15px 10px -20px;
        padding-right: 10px;
        width: 323px;
    }
    
    .accomodations-pictures2{
        width: 145px;

    }

    .marseille_activities{
        margin: -15px;
    }

    #Marseille_activities h1{
        margin-left: 0px;
    }

    .photo_activite11
    .photo_activite22
    .photo_activite33
    .photo_activite44
    .photo_activite55
    .photo_activite66{
        object-fit: cover;
        width: 300px;
        height: 140px;
    }

    img.photo_activite22 {
        width: 350px;
        height: 110px;
    }

    img.photo_activite33 {
        object-fit: cover;
        width: 350px;
        height: 110px;
    }

    img.photo_activite55{
        object-fit: cover;
        width: 350px;
        height: 110px;
    }

    img.photo_activite66 {
        object-fit: cover;
        width: 350px;
        height: 110px;
    }


    img{
        object-fit: cover;
        width: 350px;
        height: 110px;
    }

    #Marseille_activities h1 {
        font-size: large;
        margin: 10px 10px 10px 30px;
    }

    #Marseille_activities h2 {
        font-size: small;

    }

    .footer{
        margin: 20px -173px 20px -9px;
        padding-bottom: 400px;
        width: 222px;
        margin-bottom: -22px;
        display: flex;
        flex-direction: column;
    }

    .about{
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .accomodations_footer{
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .assistance{
        margin-left: 20px;
        display: flex;
    }

    h4{
        margin: 1px -82px 1px 1px;
    }
}